/* googleMap */

/* App */
.App {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 430px;
  /* height: 650px; */
  height: 100vh;
  border: solid lightgrey 1px;
  /* border-radius: 30px; */
  background-color: white;
  z-index: 1;
  padding: 10px;
  align-items: center;
}
.App::-webkit-scrollbar {
  width: 5px;
}
.App::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.534);
}
.App::-webkit-scrollbar-track {
  box-shadow: inset 0px 0px 5px white;
}
/* title */
.title {
  display: flex;
  align-items: center;
  margin: 15px;
  padding: 5px;
  font-size: 30px;
  font-weight: 700;
  border: double black 8px;
  border-radius: 20px;
}
/* List */
.ListBox {
  /* position: absolute; */
  /* position: fixed; */
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 400px;
  height: 130px;
  margin: 5px;
  background-color: white;
  /* border: solid grey 3px; */
  box-shadow: 1px 1px 10px 0px lightgrey;
  border-radius: 20px;
  text-align: center;
  z-index: 0;
}

.ListBox_ul {
  display: flex;
  padding-inline-start: 0px;
  margin: 10px;
}
.ListBox_li {
  display: flex;
  align-items: center;
  cursor: pointer;
  list-style: none;
}
.ListBox_li_imgBox {
  width: 100px;
  height: 100px;
  margin-left: 15px;
  margin-right: 25px;
  /* background-color: black; */
}
.ListBox_li_contents {
  display: flex;
  flex-direction: column;
  width: 240px;
}

/* ListBox_li_contents1 */
.ListBox_li_contents1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
}
.ListBox_li_contents1_nm_area {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}
.ListBox_li_contents1_area {
  display: flex;
  margin-right: 30px;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.65px;
  color: #505050;
}
.ListBox_li_contents1_nm {
  font-weight: bolder;
  font-size: 18px;
  line-height: 19px;
  letter-spacing: -0.9px;
  color: #202020;
}
.ListBox_li_contents1_category {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: -0.65px;
  color: #505050;
}

.ListBox_li_contents1_keyword {
  display: flex;
  justify-content: flex-start;
  width: 200px;
  /* ...적용 */
  /* 안먹음...왜?... */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 5px;
  font-size: 13px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: -0.65px;
  color: #9e9e9e;
}

/* ListBox_li_contents2 */
.ListBox_li_contents2 {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
.ListBox_li_contents2_score {
  font-weight: 600;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: -0.65px;
  color: #09d2e5;
}
.ListBox_li_contents2_score_ {
  color: black;
}
.ListBox_li_contents2_review_cnt {
  margin-left: 10px;
  font-weight: 600;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: -0.65px;
}
.ListBox_li_contents2_favorites_cnt {
  margin-left: 10px;
  font-weight: 600;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: -0.65px;
}

/* 부트스트랩 pagination 추가 */
.pagination {
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

@media only screen and (max-width: 360px) {
  /* App */
  .App {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    overflow-x: scroll;
    width: 360px;
    /* width: 100%; */
    height: 160px;
    margin-top: 530px;
    /* height: 100vh; */
    border: solid rgba(211, 211, 211, 0) 1px;
    /* border-radius: 30px; */
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
  }

  .App {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .App::-webkit-scrollbar {
    display: none;
  }
  /* title */
  .title {
    /* display: flex; */
    /* align-items: center; */
    /* margin: 15px; */
    /* padding: 5px; */
    margin-left: -260px;
    font-size: 30px;
    font-weight: 700;
    border: double black 8px;
    border-radius: 20px;
  }
  /* List */
  .ListBox {
    /* position: absolute; */
    /* position: fixed; */
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 345px;
    height: 125px;
    /* margin-left: 30px; */
    margin: 5px;
    background-color: white;
    /* border: solid grey 3px; */
    box-shadow: 1px 1px 10px 0px lightgrey;
    border-radius: 20px;
    text-align: center;
    z-index: 0;
  }

  .ListBox_ul {
    display: flex;
    flex-direction: row;
    padding-inline-start: 0px;
  }
  .ListBox_li {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    list-style: none;
  }
  .ListBox_li_imgBox {
    width: 100px;
    height: 100px;
    margin-left: 15px;
    margin-right: 12px;
    /* background-color: black; */
  }
  /* 추가 */
  /* ListBox_li_contents1 */
  .ListBox_li_contents1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 0;
  }

  .ListBox_li_contents1_area {
    display: flex;
    margin-right: 30px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.65px;
    color: #505050;
    margin-right: 45px;
  }
}
